

.clear{clear: both;}
.tuto-cnt{text-align: center;width: 700px; background-color: #fff; height:auto; min-height: 400px; margin: 20px auto; padding: 20px; overflow: auto; }

hr{ margin: 10px 0; border:none; border-top: #ccc 1px dotted;}

/*  First Example with big stars */
.rate-ex1-cnt{
	text-align: center;
	width:230px; height: 40px;
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url(../images/star/rate-btn.png) no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url(../images/star/rate-btn-hover.png) no-repeat;
}
/* End first Example with big stars */


/*  Third Example with big stars */
.rate-ex3-cnt{
	width:85px; height: 17px;
}
.rate-ex3-cnt .rate-btn-fixed{
	width: 17px; height:17px;
	float: left;
	background: url(../images/star/rate-btn3.png) no-repeat;
}
.rate-ex3-cnt  .rate-ex3-cnt  .rate-btn-fixed-hover, .rate-ex3-cnt  .rate-btn-fixed-active{
	background: url(../images/star/rate-btn3-hover.png) no-repeat;
}

 .rate-ex3-cnt  .rate-btn-fixed-half{
 	margin-top: 1px;
	background: url(../images/star/half_star.png) no-repeat;
}
/* End third Example with big stars */






