/* styles.css*/

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}


/* cover */
#cover {
    background: #222 url('resources/img/dark_laptop.jpeg') center center no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}


/* let the nav bar cover on pading so that smooth stick */
#nav-main {
    margin-bottom: -50px;
    z-index: 1001;
}

/* sticky nav class */
.fixednav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

/* resize the img in carousel */
.carousel-inner {
    height: 500px;
}

.carousel-inner > .carousel-item {
    height: inherit;
}

.carousel-inner .carousel-item img {
    filter: brightness(50%);
    height: 900px;
}

.carousel-inner .carousel-item .carousel-caption {
    font-size: x-large;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.section-content {
    padding: 5rem 0;
}


/* about.php */
#about {
    padding-top: 50px;
    background: url('resources/img/chalkboard.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    text-align: left;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}


.pagination {text-align: center;}


#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;

}


.container {
    text-align: center;
}

#login {
    margin: 200px 0;
    align-items: center;
}

#user_section {
    margin: 200px 0;
    align-items: center;
}

#query {
    margin: 150px auto;
    align-items: center;
    text-align: center;
}

#query .section-content .container{
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
}

#query .section-content .container .form-group {
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
}

#what-we-do {
    margin-top: 100px;
    width: 100%;
    align-items: center;
    text-align: center;
}


